@use '../../styles/common.scss' as common ;


.button {    
    border: none; // 테두리 없음
    display: flex; 
    text-align: center; // 글씨 배치 중앙
    cursor: pointer; // 마우스 커서 클릭
    text-transform: uppercase; // 대문자로만
    outline: none;
    overflow: hidden; // 넘어가는 글씨 히든
    position: relative; // 위치 relative
    color: #fff; // 텍스트 색깔
    font-weight: 700;
    font-size: 1.5rem; // 폰트사이즈
    background-color: #100303;
    padding: 17px 60px;
    margin: 3rem auto 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20); // 박스 그림자
    width: 6.5rem;

    & span{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 1;
    }
    &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: #F06071;
        //-webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        //-webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }
    &:hover:after{
        //-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
}
//흐름 설명 
/*
    after 가상요소로 더 큰 박스를 만들고
    45도 돌린다음에 
    hover가 작동되면 오른쪽으로 이동되게 만들음
*/
.button2 {    
    border: none; // 테두리 없음
    display: flex; 
    text-align: center; // 글씨 배치 중앙
    cursor: pointer; // 마우스 커서 클릭
    text-transform: uppercase; // 대문자로만
    outline: none;
    overflow: hidden; // 넘어가는 글씨 히든
    position: relative; // 위치 relative
    color: #fff; // 텍스트 색깔
    font-weight: 700;
    font-size: 1.5rem; // 폰트사이즈
    background-color: #100303;
    padding: 17px 60px;
    margin: 3rem auto 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20); // 박스 그림자
    width: 6.5rem;
    & span{
        position: relative; 
        z-index: 1;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 1;
    }
    &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: #00C9C9;
        //-webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        //-webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }
    &:hover:after{
        //-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
}